@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;300;500;600;700&display=swap");
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 16px;
  height: 100%;
}

a:last-child {
  cursor: pointer;
}
